.panels {
  display: flex;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

p {
  /* assists with translateY to go away completely */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:first-child,
.panel.panel.open-active > *:last-child {
  transform: translateY(0);
}

.open {
  flex: 5;
}
